@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-teal: #1cc29f;
  --color-red-550: #A6002F;
  --color-purple-550: #8656CD;
}

:root {
  color-scheme: light only;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.button-hover:hover {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: none;
  opacity: 0.95;
}

.bg-facets {
  background-image: url("https://assets.splitwise.com/assets/core/facets.png");
  background-repeat: repeat-x;
  background-position: center 0px;
  background-size: 1000px;
}

@media (min-width: 768px) {
  .bg-facets {
    background-size: 1250px;
  }
}